<%= form_with model: @master_menu, url: master_menus_path, method: :post, local:true do |f| %>
  <div class="mastermenu-new">
   <div class="left-box">
      <div class="admins-alert">
        <%= render "layouts/error.msg", resource: @master_menu %>
      </div>
      <div class="left-box__menu-name">
        レシピ名
        <%= f.text_field :name, size: 40 %>
      </div>
      <div class"left-boxmenu-image">
        <%= attachment_image_tag @master_menu, :image, fallback: "no-image.png", id: "img_prev", size:'350x250' %></br>
        <%= f.attachment_field :image, class: 'img_field' %>
      </div>
    </div>
  <div class="right-box">
    <div class="right-box__genre">
      ジャンル名<%= f.collection_select :menu_genre_id, MenuGenre.where(is_active: 1), :id, :name, include_blank: "選択して下さい", size: 40 %>
    </div>
      <table id="table">
        <thead>
          <tr>
            <th>メニュー</th>
            <th><%=f.text_field :count %>人分</th>
          </tr>
        </thead>
        <tbody>
          <!--<tr>-->
          <!--  <td><%#= f.collection_select :Genre_id, Foodstuff.all, :id, :name, include_blank: "選択して下さい", size: 40 %></td>-->
          <!--  <td><%#=f.text_field :amount %>g</td>-->
          <!--</tr>-->
          <!--<tr>-->
          <!--  <td><%#= f.collection_select :Genre_id, Foodstuff.all, :id, :name, include_blank: "選択して下さい", size: 40 %></td>-->
          <!--  <td><%#=f.text_field :amount %>g</td>-->
          <!--</tr>-->
          <tr>
            <td>
              <!-- 食材入力フィールド -->
              <%= f.fields_for :master_menu_recipes do |t| %>
              <%= render "admins/master_menus/master_menu_recipe_fields", f: t %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
             <!-- 食材追加ボタン -->
              <%= link_to_add_association "追加", f, :master_menu_recipes %>
            </td>
          </tr>
        </tbody>
        <%= f.submit %>

      </table>
    </div>
</div>
<div>

</div>
<% end %>
<script src="app.js"></script>