<div class="master-dish__show">
  <div class="show__head">
  <p class="show__head--title"><%= @master_menu.name %></p>
  <p class="show__head--post">投稿者
    <% if @master_menu.is_master == true %>
      365menu
    <% else %>
    <%= link_to customer_path(@master_menu.customer_id) do %>
        <%= Customer.find(@master_menu.customer_id).name %>
      <% end %>
    <% end %>
  </p>
  <p class="show__head--edit">
    <% if current_customer.present? %>
      <% if @master_menu.customer_id == current_customer.id %>
        <%= link_to "編集", edit_master_menu_path(@master_menu) %>
      <% end %>
    <% else %>
      <% if @master_menu.is_master == true %>
        <%= link_to "編集", edit_admins_master_menu_path(@master_menu) %>
      <% end %>
    <% end %>
  </p>
  <%= attachment_image_tag @master_menu, :image, :fill, 500, 500, format: 'jpeg' %></br>

  <div class="show__nutrients">
    <p>1人前当たり</p>
    <table>
      <!--上記の栄養素を表示-->
      <tr>
        <td>カロリー:<%= @master_menu.master_dishes.sum(:total_calory)/@master_menu.count%>kcal</td>
      </tr>
      <tr>
        <td>タンパク質:<%= @master_menu.master_dishes.sum(:total_protein)/ @master_menu.count %>g</td>
      </tr>
      <tr>
        <td>炭水化物:<%= @master_menu.master_dishes.sum(:total_carbohydrate)/ @master_menu.count %>g</td>
      </tr>
      <tr>
        <td>脂質:<%= @master_menu.master_dishes.sum(:total_fat)/ @master_menu.count %>g</td>
      </tr>
    </table>
  </div>

  </div>

  <div class="show__foodstuff">
    <p>献立(<%= @master_menu.count %>人分)</p>
    <table>
      <% @master_menu_recipes.each do |master_menu_recipe| %>
      <tr>
        <td>
          <%= link_to admins_master_dish_path(master_menu_recipe.master_dish_id) do %>
          <%= master_menu_recipe.master_dish.name %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <%= link_to master_menus_path do %>
    戻る
  <% end %>
</div>