<div class="master-dish-index">
  <%= render "searches/search_form" %>
  <div class="master-dish-index__info">
    <!--レシピ基本情報-->
    <% @master_dishes.each do |master_dish| %>
    <div class="info__table">
      <div class="table__element">
        <div class="element__detail">
          <%= attachment_image_tag master_dish, :image, :fill, 250, 250, format: 'jpeg' %></br>
  
          <%= link_to master_dish_path(master_dish.id) do %>
            <%= master_dish.name %>
          <% end %>
        <!--投稿レシピは投稿者の名前を表示　マスターは365menuと表示-->
          <% if master_dish.is_master == false %>
            by <%= Customer.find(master_dish.customer_id).name %>   ♡<%= master_dish.favorites.count %>
          <% else %>
            by 365menu  ♡<%= master_dish.favorites.count %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= paginate(@master_dishes) %>
</div>