<!--foodstuff schema-->

 <!--create_table "foodstuffs", force: :cascade do |t|-->
 <!--   t.string "category_id"-->
 <!--   t.string "name"-->
 <!--   t.string "image_id"-->
 <!--   t.integer "calory"-->
 <!--   t.integer "protein"-->
 <!--   t.integer "carbohydrate"-->
 <!--   t.integer "fat"-->
 <!--   t.datetime "created_at", null: false-->
 <!--   t.datetime "updated_at", null: false-->
 <!-- end-->

<div class="foodstuff">
  <div class="admins-alert">
    <%= render "layouts/error_msg", resource: @foodstuff %>
  </div>
  <div class="foodstuff__index">
     <div>
      <strong class="admins-title-name" >食材一覧・追加</strong>

      <div>
        <%= form_for @foodstuff, :url => {:action => :create} do |f| %>
        <div>
          名前
          <%= f.text_field :name  %>
          <%= f.submit "追加", class: "btn btn-2" %>
          カロリー
          <%= f.text_field :calory %>kcal
          タンパク質
          <%= f.text_field :protein %>g
          炭水化物
          <%= f.text_field :carbohydrate %>g
          脂質
          <%= f.text_field :fat %>g
          カテゴリーID
          <%= f.collection_select :category_id, Category.where(is_active: 1), :id, :name, include_blank: "選択して下さい", size: 40 %></td>
          <%= f.submit %>
        </div>
      <% end %>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>カテゴリー</th>
        </tr>
      </thead>
      <tbody>
        <% @foodstuffs.each do |foodstuff| %>
        <tr>
          <td><%= foodstuff.id %></td>
          <td>
          <%= link_to admins_foodstuff_path(foodstuff.id) do %>
          <%= foodstuff.name %>
          <% end %>
          </td>
          <td><%= foodstuff.category.name %></td>
          <td><%= link_to "削除する", admins_foodstuff_path(foodstuff), method: :delete, "data-confirm" => '本当に削除しますか？', class: "btn btn-1 btn-sm w-15" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>