<div class="customer-show">
  <p class="customer-show__title">マイページ</p>
    <div class="customer-show__head">
      <p><%= link_to "レシピを投稿する", new_master_dish_path %></p>
      <p><%= link_to "メニューを投稿する", new_master_menu_path %></p>
    </div>
    <div class="customer-show__introduction">
      <h5 class="customer-show__introduction--title"><strong>登録情報</strong></h5>
      <%= link_to '編集する', edit_customer_path, class: "customer-show__introduction--btn" %>
      <%= link_to 'パスワードを変更する', new_customer_password_path(current_customer), class: "customer-show__introduction--btn" %>

      <table class="introduction__table">
        <tr>
          <th>名前</th>
          <td><%= current_customer.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= current_customer.email %></td>
        </tr>
      </table>
    </div>
    <div class="customer-show__master-dish">
      <h4>投稿したレシピ</h4>
      <div class="master-dish__wrap">
        <% @master_dishes.each do |master_dish| %>
        <div class="master-dish__wrap--element">
          <p><%= master_dish.name %></p>
          </p><%= attachment_image_tag master_dish, :image, :fill, 170, 180, format: 'jpeg' %></p>
        </div>
        <% end %>
      </div>
    </div>
    <div>
      <h4>投稿したメニュー</h4>
      <% @master_menus.each do |master_menu| %>
      <%= master_menu.name %>
      <%= attachment_image_tag master_menu, :image, :fill, 170, 180, format: 'jpeg' %></br>
      <% end %>
    </div>
</div>