<div class="admin-home">
    <div class="admin-home__element">
      <h1><%= link_to "ジャンル", admins_genres_path %></h1><br>
      <h1><%= link_to "カテゴリー", admins_categories_path %></h1></br>
      <h1><%= link_to "メニュージャンル", admins_menu_genres_path %></h1></br>
      <h1><%= link_to "食材", admins_foodstuffs_path %></h1></br>
      <h1><%= link_to "ユーザー", admins_customers_path %></h1></br>
      <h1><%= link_to "一品", admins_master_dishes_path %></h1></br>
      <h1><%= link_to "献立", admins_master_menus_path %></h1></br>
    </div>
</div>