<!--create_table "master_dishes", force: :cascade do |t|-->
<!--    t.integer "foodstuff_id"-->
<!--    t.integer "Genre_id"-->
<!--    t.string "name"-->
<!--    t.string "image_id"-->
<!--    t.text "recipe"-->
<!--    t.integer "amount"-->
<!--    t.integer "count"-->
<!--    t.integer "total_calory"-->
<!--    t.integer "total_fat"-->
<!--    t.integer "total_carbohydrate"-->
<!--    t.integer "total_protein"-->
<!--    t.datetime "created_at", null: false-->
<!--    t.datetime "updated_at", null: false-->
<!--  end-->



<%= form_with model: @master_dish, url: admins_master_dishes_path, method: :post, local:true do |f| %>
  <div class="masterdish-new">
   <div class="left-box">

      <div class="left-box__dish-name">
        レシピ名
        <%= f.text_field :name, size: 40 %>
      </div>
      <div class"left-boxdish-image">
        <%= attachment_image_tag @master_dish, :image, fallback: "no-image.png", id: "img_prev", size:'350x250' %></br>
        <%= f.attachment_field :image, class: 'img_field' %>
      </div>
    </div>
  <div class="right-box">
    <div class="right-box__genre">
      ジャンル名<%= f.collection_select :genre_id, Genre.where(is_active: 1), :id, :name, include_blank: "選択して下さい", size: 40 %>
    </div>
      <table id="table">
        <thead>
          <tr>
            <th>食材</th>
            <th><%=f.text_field :count %>人分</th>
          </tr>
        </thead>
        <tbody>
          <!--<tr>-->
          <!--  <td><%#= f.collection_select :Genre_id, Foodstuff.all, :id, :name, include_blank: "選択して下さい", size: 40 %></td>-->
          <!--  <td><%#=f.text_field :amount %>g</td>-->
          <!--</tr>-->
          <!--<tr>-->
          <!--  <td><%#= f.collection_select :Genre_id, Foodstuff.all, :id, :name, include_blank: "選択して下さい", size: 40 %></td>-->
          <!--  <td><%#=f.text_field :amount %>g</td>-->
          <!--</tr>-->
          <tr>
            <td>
              <!-- 食材入力フィールド -->
              <%= f.fields_for :dish_foodstuffs do |t| %>
              <%= render "admins/master_dishes/dish_foodstuff_fields", f: t %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
             <!-- 食材追加ボタン -->
              <%= link_to_add_association "追加", f, :dish_foodstuffs %>
            </td>
          </tr>
        </tbody>
        <%= f.submit %>

      </table>
    </div>
</div>
<div>
  作り方</br>
  <%= f.text_area :recipe %>
</div>
<% end %>
<script src="app.js"></script>